@font-face {
    font-family: '3270';
    src: url('../fonts/3270/3270Condensed-Regular.otf') format('woff'),
    url('../fonts/3270/3270Condensed-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "3270", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    outline: none;
    margin: 0;
    padding: 0;
}
#title {
    background-color: black;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
	padding: 0;
    width: 100vw;
    top: 0;
    position: relative;
}
#menu {
    display: grid;
    position: fixed;
    background: none;
    border: none;
    width: 100px;
    height: 100px;
    left: 30px;
    top: 100px;
    padding: 0;
    z-index: 2;
}
.menu_lines {
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background: #ff0000;
    margin: 3px;
    transition: 0.5s;
    position: relative;
}
#top_line {
    transform: rotate(180deg);
    top: 0;
}
#bottom_line {
    transform: rotate(180deg);
    bottom: 0;
}
#center_line {
    transform: rotate(180deg);
}
#menu.active #top_line {
    transform: rotate(45deg);
    top: 100%;
}
#menu.active #bottom_line {
    transform: rotate(-45deg);
    bottom: 100%;
}
#menu.active #center_line {
    width: 0;
}
body {
    margin: 0;
}
.image_in_group {
    width: 200px;
}
.image {
    width: 300px;
}
@media (min-width: 768px) {
    .image {
        width: 500px;
    }
}
@media (min-width: 1336px) {
    .image_in_group {
        width: 350px;
    }
    .image {
        width: 800px;
    }
}
#body.active {
    filter: blur(5px);
    z-index: -1;
}
#body {
    filter: none;
    transition: 0.5s;
}
#footer {
    filter: none;
    transition: 0.5s;
}
#footer.active {
    filter: blur(5px);
    z-index: -1;
}
.links_button {
    position: fixed;
    width: 50px;
    border: none;
    background: none;
    display: flex;
}

@media (max-width: 1024px) {
    .links {
        transform: translate(-400px);
        transition: 0.5s ease-out;
    }
    .links.visible {
        transform: translate(50px);
    }
}
#copyrite {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    display: grid;
    place-items: center;
    width: 100%;
    top: 25px;
    position: relative;
    text-align: center;
}
@media (min-width: 1024px) {
    .links_button {
        display: none;
    }
    #links {
        opacity: 1;
        z-index: 10;
    }
}
.links-image_button {
    width: 100px;
    z-index: 10;
}

#remove_button {
    opacity: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    z-index: 1;
}

.body_title {
    color:  white;
    font-size: 35px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.body_subtitle {
    color:  white;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
#username::after {
    content: "Hello";
    color: #fff;
}
#main_body {
    display: grid;
    place-items: center;
    z-index: 1;
}
#table_about_weather_on_planets {
    width: 100%;
}
.body_text {
    background-color: black;
    color: white;
    font-size: 20px;
    letter-spacing: 0.002in;
    font-weight: 400;
    width: 300px;
    padding: 0;
    margin: 30px 0 0 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: justify;
}
@media (min-width: 768px) {
    .body_text {
        font-size: 19px;
        width: 500px;
        padding: 30px;
    }
}
@media (min-width: 1336px) {
    .body_text {
        width: 800px;
    }
}

body {
  background-color: black;
}
.gameplay_screenshots {
    flex-direction: row;
    background-color: #222222;
    color: #002618;
    width: 750px;
    margin-left: 300px;
    font-size: 20px;
    padding: 30px;
    border-radius: 10px;
}
#lethal {
    color: red;
    display: flex;
}
#title_in_head {
    position: relative;
    display: flex;
}
.part {
    color: #AA0000;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s;
}
@media (max-width: 768px) {
    .inside_gameplay_screenshots {
        display: grid;
        place-items: center;

    }
}


.main_start {
    display: flex;
}


.part:hover {
    color: #f00000;

}
#part_title {
    font-size: 25px;
    color: white;

}
#main {
    color: red;
    background-color: #1C1C1C;
    width: 95px;
    margin-left: 10px;
    height: 60px;
    justify-content: center;
    align-items: center;

}
#now_part {
    color: red;
}
.border {
    border-color: red;
    border-width: thick;
    border-style: solid;
}
.mini_part {
    color: red;
    font-size: 40px;
    text-decoration: none;
    width: 320px;
    transition: 0.2s;
}
.mini_part:hover {
    color: black;
    background-color: red;
}
@media (min-width: 1024px) {
    .mini_part {
        width: 200px;
        font-size: 20px;
    }
}
@media (min-width: 1336px) {
    .mini_part {
        font-size: 25px;
        width: 240px;
    }
}
.danger_level {
    color: red;

}
.safe_level {
    color: red;

}
.location_out_the_complex {
    color: red;
}
.almost_safe_level {
    color: red;
}
.location_inside_the_complex {
    color: red;
}
.location_everywhere {
    color: red;
}
.links_in_text {
    text-decoration: none;
    color: darkred;
    transition: 0.4s;
}
.links_in_text:hover {
    text-decoration: none;
    color: red;
}
.name_and_price {
    color: red;
}
.about_store_items {
    display: flex;
    text-align: justify;
}
.items_in_store {
     border: 2px solid red;
     margin-left: 5px;
}
.about_store_items_big_text {
    display: block;
}
.table {
    border-collapse: collapse;
    border: 1px solid grey;
    background-color: #0e0e0e;
}
.table_container {
    overflow: scroll;
    width: 300px;
}
@media (min-width: 768px) {
    .table_container {
        width: 500px;
    }

;
}
@media (min-width: 1336px) {
    .table_container {
        width: 800px;
    }

;
}
/*
#main_scrap_table {
    font-size: 10px;
    font-weight: 700;
}
#table_about_scrap {
    font-size: 10px;
    font-weight: 700;
}
@media (min-width: 1336px){
    #main_scrap_table {
        font-size: 19px;
        font-weight: 600;
    }
    #table_about_scrap {
        font-size: 19px;
        font-weight: 600;
    }
}*/
th, td {
   border: 3px solid #3C3C3C;
   height: 5em;
   text-align: center;
}
.information {
    text-align: left;
}
th {
    background-color: #1B1B1B;
    font-weight: bold;
}
#table_about_chance_of_item {
    width: 750px;
    font-size: 18px;
}
.links {
    top: 15%;
    display: grid;
    align-content: space-around;
    height: 60vh;
    left: 5%;
    position: fixed;
    z-index: 10;
}
@media (min-width: 1024px) {
    .links {
        left: 0;
    }
}
@media (min-width: 1336px) {
    .links {
        height: 700px;
        display: grid;
        z-index: 10;
    }
}
.links a {
    margin: 10px;
}
.price_and_lb {
    color: red;
    text-align: center;
}
.big_text {
    margin-top: 8px;
    margin-left: 5px;
    text-align: justify;
    color: white;
    font-size: 20px;
}

#table_about_items {
    background-color: #010101;
}
.table_title {
    background-color: #1B1B1B;
}
#table_about_ukrashenia {
    margin-right: 20px;
    margin-left: 20px;

}
.name_and_picture {
    display: block;
    text-align: left;
}
.picture {
    display: flex;
    margin-left: 15px;
    margin-right: 10px;
}
.subtext {
    margin-left: 50px;
    text-align: left;
}
#brackens-room {
    width: 350px;
}

#screenshots {
    padding: 3px;
}
.inside_lethal_company_gameplay_screenshot {
    padding: 30px;
}
.button_to_sell {
    font-size: 30px;
    background-color: #1B1B1B;
    border-radius: 10px;
    border: 1px solid #3C3C3C;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s;
    color: #D2D2D2;
    padding: 15px;
}
.comments_text {
    color: white;
    background-color: #1B1B1B;
    padding: 8px;
    font-size: 30px;
    width: 600px;
    height: 100px;
    resize: none;
    border-radius: 10px;
    border: 1px solid #3C3C3C;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s;
}
@media (min-width: 1024px) {
    .comments_text {
        width: 600px;
        font-size: 20px;
    }
    .button_to_sell {
        font-size: 20px;
    }
    #menu {
        display: none;
    }

}
.name_of_comment {
    color: white;
    background-color: #1B1B1B;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #3C3C3C;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: 0.3s;
    height: 25px;
}
.name_of_comment:hover {
    border: 1px solid white;
}
.comments_text:hover {
    border: 1px solid white;
}
.name_of_comment:active {
    border: 1px solid white;
}
.comments_text:active {
    border: 1px solid white;
    height: 100px;
}
.button_to_sell:hover {
    background-color: #262626;
    color: white;
}
#box_for_sell_comments {
    color: white;

}
hr {
    height: 1px;
    color: darkgray;
    background-color: darkgray;
    border: darkgray;
}
#written_comments {
    color:white;
    width: 600px;
    display: grid;
    place-items: center;
}
@media (min-width: 1024px) {
    #written_comments {
        width: 600px;
    }
}
#hr_in_title {
    color: red;
    background-color: red;
    border: red;
    width: 100%;
}
#comments_place {
    color:  white;
    font-size: 35px;
    width: 100%;
    text-align: center;
}
.comment {
    width: 600px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1B1B1B;
    border-radius: 20px;
    position: relative;
}
@media (min-width: 1024px) {
    .comment {
        width: 600px;
    }
}
.comment_written_text {
    color: white;
    margin-top: 10px;
    font-size: 22px;
}
@media (min-width: 1024px) {
    .comment_written_name {
        font-size: 20px;
    }
    .comment_written_text {
        font-size: 18px;
    }
}
.comment_written_name {
    color: lightgray;
    font-size: 25px;
}
.comment_written_data {
    color: lightgray;
}
.popup {
    transition: 0.4s;
    font-size: 25px;
    text-decoration: none;
    z-index: 1;
}
#comments-menu {
    position: absolute;
    right: 0;
    justify-content: flex-end;
    display: grid;
}
.popup-content {
    display: block;
    opacity: 0;
    z-index: -2;
    padding: 10px;
    text-decoration: none;
    right: 35px;
    position: absolute;
    color: white;
    width: 165px;
    background-color: #1B1B1B;
    border: 1px solid #3C3C3C;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
}
@media (min-width: 1024px) {
    .popup-content {
        width: 110px;
        right: 35px;
    }

;
}
.popup:hover .popup-content {
    opacity: 1;
    z-index: 3;
}
a {
   text-decoration: none;
}
.btn-comments:hover {
    background-color: #0e0e0e;
}
.btn-comments {
    position: relative;
    padding: 5px;
    width: 160px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
}
@media (min-width: 1024px) {
    .btn-comments {
        width: 100px;
    }
    .btn-action {
        font-size: 15px;
    }
    .comment_action_text {
        font-size: 15px;
    }
}
.btn-action {
    color: #cccccc;
    background: none;
    border: none;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
}
.comment_action_text {
    margin-left: 2px;
}
.popup-btn {
    color: gray;
    right: 5px;
    position: absolute;
}
#delete {
    margin-right: 10px;
}
.popup-btn:hover {
    color: white;
    transition: 0.2s;
}
.footer_subtitle {
    color: white;
    font-size: 25px;
    margin-top: 30px;
}
.input_form{
    color: white;
    font-size: 20px;
    background: none;
    border: none;

}
#flash_message {
    text-align: left;
    font-size: 25px;
}

#flash_message-icon {
    height: 40px;
}
.register_form {
    border: none;
    width: 340px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#forms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.description {
    color: white;
    font-size: 22px;
    width: 100%;
    text-align: center;
}
footer {
    display: grid;
    place-items: center;
    margin: 50px 0 0 0;
}
#register_field {
    align-items: center;
    margin-left: 770px;
    margin-top: 150px;
}

#register_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#register_main {
    height: 100vh;
    width: 100vw;
    padding: 20px;
    color: #fff;
    font-size: 30px;
}
.introduce {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#register_title {
    font-size: 30px;
    color: white;
    display: flex;
}
#title-icon {
    margin-right: 6px;
}
#ask_title {
    color: white;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
.input_form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 25px;
}
.introduce h3 {
    white-space: nowrap;
}
@media (max-width: 768px) {
    #log-title {
        white-space: wrap;
    }
}
.form-group {
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 30px;
}
.hidden {
    display: none;
}
.form-group label {
    width: auto;
    white-space: nowrap;
}
.button_register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 5px;
}
.btn-submit {
    background: none;
    border: none;
    font-size: 22px;
    text-transform: uppercase;
    color: darkred;
}
.account {
    color: red;
    font-size: 26px;
    align-items: center;
    padding: 10px;
    text-transform: uppercase;
    position: absolute;
    right: 1%;
    display: none;
}
@media (min-width: 768px) {
    .account {
        display: flex;
    }
}
.profile_menu-btn {
    color: red;
    font-size: 12px;
    font-weight: bold;
    background: none;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    height: 30px;
    transition: 0.3s;
}
.exit {
    top: 15%;
    right: 1%;
}
.delete {
    top: 60%;
    right: 10%;
}
.profile_menu {
    width: 170px;
    height: 80px;
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 7px darkred;
    position: absolute;
    right: 0;
    top: 6%;
    padding: 5px;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.trigger-profile_menu {
    color: red;
    font-size: 25px;
    font-weight: bold;
}
.profile_menu-btn:hover {
    background-color: #1B1B1B;
    border-radius: 30px;
}
.account:hover .profile_menu {
    opacity: 1;
}
.popup-wrapper {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
.popup-box {
    display: none;
    position: absolute;
    z-index: 1;
    height: 80px;
    background-color: black;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 7px darkred;
    top: 100%;
    right: 0.5%;
    padding: 5px;
    width: 170px;
}
.popup-wrapper:hover .popup-box {
    display: block;
}

#big_error-description {
    display: flex;
}
#error {
    display: grid;
    place-items: center;
    font-weight: bold;
    color: red;
    margin-top: 200px;
}
#error-description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#big-error-description {
    display: flex;
    font-size: 30px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-align: center;
}
.error_subtext {
    display: grid;
}
#big_error {
    display: none;
}
@media (min-width: 640px) {
    #big_error {
        display: grid;
    }
    .error_subtext {
        display: block;
    }
    #big-error-description {
        display: none;
    }
}
#error-subtext {
    color: darkred;
    margin-right: 6px;
}






