<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/lethalhome-icon.webp') }}">
    <title>Вход</title>
    <div id="title">
        <div id="lethal">LETHAL</div>
        <div id="home">HOME</div>
    </div>
    <hr id="hr_in_title">
</head>
<body id="register_body">
        <div class="register_form">
            <div id="register_title" style="margin-left: 115px"><img src="{{ url_for('static', filename='img/log-in_icon.webp') }}" height="35" id="title-icon">Вход</div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div id="flash_messages">
                {% for category, message in messages %}
                <div id="flash_message" class="{{ category }}"><img src="{{ url_for('static', filename='img/description.webp') }}" height="30"><div class="message">{{ message }}</div></div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            <form action="{{ url_for('login') }}" method="post">
                <div id="forms">
                    <div class="inputs"><input type="text" id="username" name="username" class="input_form" placeholder="Имя" required autocomplete="off"><img src="{{ url_for('static', filename='img/user-icon.webp') }}" width="30" class="user-icon_login"></div>
                    <div class="inputs"><input type="password" id="password" name="password" class="input_form" placeholder="Пароль" autocomplete="off"><img src="{{ url_for('static', filename='img/lock-icon.webp') }}" width="30" class="lock-icon_login"></div>
                    <div class="button_login">
                        <input type="submit" value="Войти" class="btn-submit_login">
                    </div>
                </div>
            </form>
            <div id="ask_title" style="margin-left: 80px">Еще нет аккаунта? <a class="links_in_text" href="{{ url_for('register') }}">Зарегистрируйтесь</a></div>
        </div>
</body>
</html>
