{% extends 'main.html' %}

{% block body %}
<h1>>LETHAL COMPANY</h1>
<hr>
<p>Lethal Company - игра, которая имеет жанр хоррор-выживание. Игроки прилетают на космолете на неизвестную планету, их задача собирать различного рода мусор и металлолом на заброшенных заводах, относить на корабль, и, собрав нужное количество мусора, игроки вместе с добычей возвращаются на корабль, и улетают на планету сбора металлолома.</p>
<br>
<p>Там игроки сдают все собранное, получают зарплату и новое задание. Определенная сумма, на которое нужно набрать мусора называют квотой. Каждый раз, когда игроки сдают квоту, появляется новая, для которой надо набрать еще больше металлолома. На заработанные деньги можно покупать различные вещи, упрощающие работу, например фонарик и рация.</p>
<br>
<section class="lethal_company_gameplay_screenshot">
    <div class="inside_lethal_company_gameplay_screenshot">
        <img src="/static/img/screen1.webp" class="image_in_group">
        <img src="/static/img/screen2.webp" class="image_in_group">
    </div>
    <div class="inside_lethal_company_gameplay_screenshot">
        <img src="/static/img/screen3.webp" class="image_in_group">
        <img src="/static/img/screen4.webp" class="image_in_group">
    </div>
</section>
<h2>>История</h2>
<p>Ни одна игра не обходится без хотя бы малейшего сюжета, и lethal company не исключение. Сюжет в том, что вы работаете в компании по контракту. Ваша работа заключается в сборе металлолома с заброшенных промышленно развитых лун, чтобы соответствовать квоте прибыли Компании. Вы можете использовать заработанные наличные деньги для путешествий на новые луны с более высокими рисками и вознаграждениями - или вы можете купить модные костюмы и украшения для своего корабля. Познакомьтесь с природой, сканируя любое найденное вами существо, чтобы добавить его в свой бестиарий. Исследуйте удивительные места на открытом воздухе и поройтесь в их заброшенных, стальных и бетонных недрах.</p>
<br>
<section class="body_subtitle">>Выполняйте задания в срок</section>
<p>Просто никогда не пропускайте квоту. Если вы не сдадите квоту в срок, а именно за 3 дня, и принесете недостаточное количество металлолома, то вас выбросит в открытый космос.</p>
<br>
<section class="body_subtitle">>Тактика</section>
<p>В такой игре как lethal company вам придется нередко придумывать выход из самых опасных ситуаций, и продумывать все наперед. Также в игре есть <a class="links_in_text" href="/main/store">магазин,</a> и с его приспособлениями вы также можете обговаривать план действий.</p>
<br>
<p>Часто игроки оставляют одного из членов команды на корабле, который связывается со всеми через рацию и наблюдает за другими игроками через <a class="links_in_text" href="/main/terminal#terminal_radar">радар терминала,</a> подсказывая, где по близости есть <a class="links_in_text" href="/main/scrap">металлолом</a>, и предупреждает о <a class="links_in_text" href="/main/mobs">монстрах.</a> Также в случае полной смерти команды он нажмет на рычаг автопилота.</p>
{% endblock %}
