<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" href="{{ url_for('static', filename='img/lethalhome-icon.webp') }}">
    <title>Регистрация</title>
    <link rel="icon" href="/static/img/lethalhome-icon.webp">
    <script src="/static/js/lethal_script.js"></script>
</head>
<body id="register_body">
    <header id="title">
        <div id="lethal">LETHALHOME</div>
        <hr id="hr_in_title">
    </header>
    <main id="register_main">
        <section class="introduce">
            <h3> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </h3>
            <br>
            <h3>Приветствуем вас на LethalHome!!!</h3>
            <br>
            <h6>Пожалуйста, зарегистрируйтесь. Для навигации по полям используйте [TAB].</h6>
            <br>
            <h3> _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </h3>
        </section>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div id="flash_messages">
                        {% for message in messages %}
                            <div id="flash_message"><img src="/static/img/description.webp" id="flash_message-icon"><div class="message">{{ message }}</div></div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        <form id="registerForm" method="post" action="{{ url_for('register') }}">
            <div id="forms">
                <div class="form-group">
                    <label for="username">Введите свое имя: </label>
                    <input type="text" id="username" name="username" class="input_form" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="email">Введите свой email: </label>
                    <input type="email" id="email" name="email" class="input_form" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="password">Введите свой пароль: </label>
                    <input type="password" id="password" name="password" class="input_form" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <label for="confirm">Повторите пароль: </label>
                    <input type="password" id="confirm" name="confirm" class="input_form" autocomplete="off" required>
                </div>
            </div>
        </form>

    </main>
</body>
</html>
