{% extends 'main.html' %}

{% block body %}
                    <div class="body_title">>Магазин</div>
                    <hr>
                    Lethal Company - не простая игра, где нужно уметь рисковать, быстро принимать решения и обдумывать каждый шаг, однако для более успешного игрового процесса вам нужно дополнительно покупать различные приспособления для упрощения некоторых задач. Однако у многих предметов заряд не постоянный, и вам нужно будет периодически заряжать их на корабле. Как только вы войдете в корабль, справа вы увидите зарядку, чтобы зарядить что-нибудь, подойти к ней с вашим предметом и нажмите [E].
                    <br>
                    <br>
                    Для того чтобы заказать какой-либо предмет, зайдите в терминал и напишите «store». После того как выбрали предмет, напишите его название, и не обязательно писать все название, будет достаточно первых четырех букв. После этого введите «confirm» для подтверждения, либо же «deny» для отмены полета. Также в магазине иногда появляются скидки на различные предметы, поэтому рекомендуем проверять магазин каждый день.
                    <div class="body_subtitle">>Доставка</div>
                    Предметы, перечисленные ниже, будут после заказа прилетать к вам на специальной ракете. Прилетит она на ту планету, на которую вы летите, либо находитесь в момент заказа. Доставка приземляется рядом с кораблем, а чтобы знать точно, где они приземляются, рекомендуем посмотреть <a class="links_in_text" href="/main/planets">карту планет.</a> Ни в коем случае не стойте под ракетой, когда она приземляется, иначе игрок погибнет.
                    <br>
                    <br>
                    Как только ракета приземлится, у нее включится небольшой свет, и заиграет музыка, это сделано для того, чтобы было легче найти ее. После этого можно будет подойти к ней, и нажав [E], открыть отсек с предметами. Советуем забирать ваши вещи как можно скорее, так как если вы их не заберете, то ракета просто улетит с вашим заказом, и вы потеряете их.
                    <div class="body_subtitle">>Свойства предметов</div>
                    Ниже будет написана вся известная информация про предметы из магазина, по критериям:
                    <br>
                    <ul>
                        <li>Информация. Будет приведена вся информация о предмете.</li>
                        <li>Стоимость. Цена, которую вы заплатите при покупке предметы. Цена указана в единицах местной валюты в игре.</li>
                        <li>Вес. Вес предметов указан в фунтах. Чем тяжелее предмет, тем медленнее игрок будет идти во время нахождения предмета в инвентаре.</li>
                        <li>Электропроводность. При <a class="links_in_text" href="/main/weather#stormy">штормовой погоде</a> молния время от времени бьет молнией в электропроводные предметы. Когда вы услышите звуки электричества, быстро бросайте все электризующиеся предметы, и отбегайте от них на 5-6 метров, и когда в них ударит молнией, то можете брать их снова и бежать, но всегда будьте начеку.</li>
                        <li>Необходимость в зарядке. Часть предметов из магазина нужно заряжать на корабле, так как они могут разрядиться.</li>
                    </ul>
                    <br>
                    <div class="table_container">
                        <table class="table" id="main_scrap_table">
                        <tr>
                            <th>Предмет</th>
                            <th>Информация</th>
                            <th>Стоимость</th>
                            <th>Вес</th>
                            <th>Электро-
                                -проводный</th>
                            <th>
                                Нужно
                                Заряжать
                            </th>
                        </tr>
                        <tr>
                            <td>Рация</td>
                            <td class="information">Включается и выключается рация на [Q], чтобы сказать что-то в рацию, зажмите ЛКМ</td>
                            <td>12</td>
                            <td>0</td>
                            <td>Нет</td>
                            <td>Да</td>
                        </tr>
                        <tr>
                            <td>Фонарик</td>
                            <td class="information">Включается и выключается на ЛКМ</td>
                            <td>15</td>
                            <td>0</td>
                            <td>Нет</td>
                            <td>Да</td>
                        </tr>
                        <tr>
                            <td>Лопата</td>
                            <td class="information">Чтобы замахнуться, зажмите ЛКМ, а чтобы ударить, отпустите кнопку</td>
                            <td>30</td>
                            <td>14</td>
                            <td>Да</td>
                            <td>Нет</td>
                        </tr>
                        <tr>
                            <td>Отмычка</td>
                            <td class="information">Подойдите к закрытой двери и нажмите ЛКМ, и после ждите 30 секунд пока робот взламывает дверь</td>
                            <td>20</td>
                            <td>16</td>
                            <td>Нет</td>
                            <td>Нет</td>
                        </tr>
                        <tr>
                            <td>Профессиональный фонарик</td>
                            <td class="information">Включается и выключается на ЛКМ. Держит заряд дольше, и светит лучше, чем обычный фонарик</td>
                            <td>25</td>
                            <td>5</td>
                            <td>Нет</td>
                            <td>Да</td>
                        </tr>
                        <tr>
                            <td>Светошумовая граната</td>
                            <td class="information">Чтобы снять чику, нажмите ЛКМ, после этого через 3 секунды граната сдетонирует</td>
                            <td>30</td>
                            <td>5</td>
                            <td>Нет</td>
                            <td>Нет</td>
                        </tr>
                        <tr>
                            <td>Бумбокс</td>
                            <td class="information">Нажмите ЛКМ для того, чтобы включить бумбокс и переключать музыку</td>
                            <td>60</td>
                            <td>0</td>
                            <td>Нет</td>
                            <td>Да</td>
                        </tr>
                        <tr>
                            <td>Ингалятор</td>
                            <td class="information">Пользоваться ингалятором на ЛКМ. Чем дольше вы зажмете кнопку, тем больше увеличивается скорость бега и ухудшается обзор и слышимость</td>
                            <td>120</td>
                            <td>0</td>
                            <td>Да</td>
                            <td>Нет</td>
                        </tr>
                        <tr>
                            <td>Шокер</td>
                            <td class="information">Нажмите ЛКМ для сканирования местности, и если в пределах действия шокера кто-то будет, то оружие выстрелит электрическим зарядом, оглушив противника на 6 секунд. Во время действия шокера уводите его в сторону за молнией, тогда противник будет оглушен дольше</td>
                            <td>400</td>
                            <td>11</td>
                            <td>Да</td>
                            <td>Да</td>
                        </tr>
                        <tr>
                            <td>Джетпак</td>
                            <td class="information">Запустить джетпак на ЛКМ, лететь вверх на пробел, а для наклона зажмите [W]. Будьте аккуратны, у джетпака непростое управление, и для успешного пользования нужно немного потренироваться</td>
                            <td>700</td>
                            <td>52</td>
                            <td>Да</td>
                            <td>Да</td>
                        </tr>
                        <tr>
                            <td>Выдвижная лестница</td>
                            <td class="information">Активировать лестницу на ЛКМ. После нажатия игрок бросит ее перед собой, из ящика выдвинется лестница, и упадет до упора в ту сторону, в которую смотрел использовавший ее игрок. Однако спустя время несколько секунд прозвучит звуковой сигнал, </td>
                            <td>60</td>
                            <td>0</td>
                            <td>Да</td>
                            <td>Нет</td>
                        </tr>
                        <tr>
                            <td>
                                Усилитель
                                <br>
                                радара
                            </td>
                            <td class="information">Чтобы активировать аппарат, нажмите ЛКМ. После этого можно поставить его где-нибудь, и на <a class="links_in_text" href="/main/terminal">радаре терминала</a> вы сможете переключаться на него точно так же, как на игрока. Имя радару дается случайное, например Sam, susie и т.д. Отличие только в том, что усилитель радара не двигается. Также вы можете заставить аппарат издать звук «hello», введя в терминал команду «ping (имя усилителя)». Этим вы можете привлечь или отпугнуть монстров. Также вы можете активировать вспышку, которая оглушит всех вокруг, прямо как светошумовая граната. Для этого введите в терминал «flash (имя усилителя)». Однако помните, что в комплексе аппарат смогут украсть жуки-сборщики</td>
                            <td>60</td>
                            <td>19</td>
                            <td>Да</td>
                            <td>Нет</td>
                        </tr>
                        <tr>
                            <td>Баллончик с краской</td>
                            <td class="information">Чтобы использовать его, нажмите ЛКМ и баллончик начнет распылять краску, она может быть желтой, синей, зеленой, а т.д. Когда баллончик перестанет распылять краску, встряхните его на [Q], и можете дальше рисовать. Однако помните, что через какое-то время у баллончика закончится краска, и вам нужно будет купить новый </td>
                            <td>50</td>
                            <td>0</td>
                            <td>Нет</td>
                            <td>Нет</td>
                        </tr>
                        </table>
                    </div>
                    <div class="body_subtitle">>Большие предметы</div>
                    Предметы, перечисленные выше после покупки прилетали на ракете, и их надо было забирать и носить с собой в инвентаре. Сейчас пойдет речь о предметах, которые появляются на корабле сразу после покупки. К слову, вы можете передвигать мебель, подойдя к предмету, и нажав [B]. После этого у вас будут видны прозрачные очертания объекта. Вращать предмет на [R], а отменить перестановку на [X]. Таким образом вы можете передвигать почти всю мебель в вашем корабле.
                    <div class="table_container">
                        <table class="table">
                            <tr>
                                <th>Предмет</th>
                                <th>Информация</th>
                                <th>Стоимость</th>
                            </tr>
                            <tr>
                                <td>Громкий гудок</td>
                                <td class="information">После покупки, потянув за канат, гудок издаст громкий звон, который слышно даже в комплексе.</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Транслятор сигнала</td>
                                <td class="information">После покупки вы сможете транслировать своим напарникам сообщения с ограничением 9 символов. Чтобы сделать это, введите в <a class="links_in_text" href="/main/terminal">терминал</a> «transmit (сообщение)».</td>
                                <td>255</td>
                            </tr>
                            <tr>
                                <td>Телепортер</td>
                                <td class="information">После покупки на корабле появляется красная кнопка, при нажатии на которую, игрок, выбранный в радаре терминала телепортируется на корабль без вещей. Перезарядка - 10 секунд.</td>
                                <td>375</td>
                            </tr>
                            <tr>
                                <td>Обратный телепортер</td>
                                <td class="information">Как можно понять из названия, это аппарат, действующий противоположно телепортеру. После покупки при нажатии на желтую кнопку игрок, стоявший в обратном телепортере, перенесется в случайное место в комплексе. Перезарядка - 210 секунд.</td>
                                <td>425</td>
                            </tr>
                        </table>
                    </div>
{% endblock %}
