{% extends 'main.html' %}

{% block body %}
                    <div class="body_title">>Терминал</div>
                    <hr>
                    Терминал - инструмент, которым вы будете пользоваться на протяжении всего игрового процесса, так как с его помощью вы будете покупать предметы, летать на планеты, анализировать информацию и многое другое. В общем - без функций терминала вы не справитесь.
                    <div class="body_subtitle">>Как пользоваться терминалом</div>
                    В самом начале игры вы появляетесь на корабле, и единственное, что вам нужно сделать, так это как раз таки зайти в терминал. Подойдите к нему, и нажните [E]. Затем вы можете ввести «help» для выведения на экран списка всех возможных команд.
                    <br>
                    <br>
                    Вы также можете вводить сокращенные команды, введя первые три буквы от команды, например «exp» вместо «experimentation», либо «con» вместо «confirm». Если вы заинтересованы сюжетом игры, вы можете ввести команду, показывающую характеристику планеты, например «experimentation info», однако для игрового процесса это не очень важно.
                    <div class="body_subtitle">>Полет на планеты</div>
                    Самое первое, что нужно сделать при заходе в терминал в самом начале игрового процесса, это ввести команду «moons» чтобы увидеть список всех планет, на которые вы можете полететь, а также погоду на них. Для успешной игры рекомендуем вам по подробнее ознакомиться с <a class="links_in_text" href="/main/planets">планетами</a> и <a class="links_in_text" href="/main/weather">погодой</a> на них на других наших статьях.
                    <br>
                    <br>
                    Вернемся к командам на терминале, как только введя «moons» вы увидели список планет и выбрали наиболее подходящую для себя, то введите в консоль название планеты, например «Experimentation». После этого введите «confirm» для подтверждения, либо же «deny» для отмены полета.
                    <br>
                    <br>
                    Есть также возможность написать в терминале «scan» когда корабль приземлился на планету, и после введения данной команды на экране вы сможете увидеть количество предметов на планете и их общую стоимость, однако зачастую эти данные ложные.
                    <div id="terminal_radar">
                        <div class="body_subtitle">>Радар терминала</div>
                        Через корабельный терминал вы можете отслеживать перемещение ваших напарников по комплексу, а также местоположение монстров и предметов на планете. Начнем с того, что пользоваться этой функцией можно только в том случае, если олин из членов экипажа останется на борту корабля, и будет передавать информацию исследующим комплекс по рации.
                        <br>
                        <br>
                        <img src="{{ url_for('static', filename='img/terminal_speactating.webp') }}" class="image">
                        <br>
                        <br>
                        Отличная тактика в летал компани может спасти игру. Часто игроки распределяют между собой разные роли и обязанности для более успешного игрового процесса. В основном игроки оставляют одного из членов экипажа на корабле, чтобы тот с помощью радара отслеживал и помогал своим товарищам, а в случае полной смерти команды с помощью рычага, запускающего автопилот улететь с планеты.
                        <div class="body_subtitle">>Как пользоваться навигацией</div>
                        На экране терминала при передвижении ваших напарников вы можете отслеживать их. Чтобы переключаться между игроками, нажмите белую кнопку слева от терминала. Также есть возможность вводить в терминал «switch (ник игрока, на которого хотите переключиться)». Однако нажатие на кнопку куда проще и занимает меньше времени. На самом экране игроки изображены в виде синих точек и изогнутой фигуры перед ними, она показывает куда смотрит игрок. В случае смерти человека обозначение игрока перестанет двигаться и застынет.
                        <br>
                        <br>
                        Лут на карте изображен в виде желтых треугольников, а когда игрок поднимает хлам и несет его с собой, то обозначение лута движется вместе с обозначением игрока. То же самое происходит, когда жук-коллекционер таскает металлолом. Монстры на карте изображены в виде красных точек, и по ее размеру можно определить, что это за существо, а по цвету фазу существа. Подробнее об этом в статье про <a class="links_in_text" href="/main/mobs">существ</a>.
                        <br>
                        <br>
                        <div class="body_subtitle">>Взаимодействие с комплексом</div>
                        С помощью терминала вы можете отключать двери, мины и турели в комплексе, дабы помочь вашим напарникам которые исследуют комплекс. Наличие рации у игроков значительно облегчит эту задачу, так как напарники смогут понимать, когда турель или мина снова включится, либо попросить сидящего за терминалом закрыть какую-либо дверь.
                        <br>
                        <br>
                        И так, когда ваши напарники бродят по комплексу в поисках мусора, им стоит опасаться не только монстрам, но еще и систем защиты. На радаре двери, турели и мины помечены зелеными надписями в рамках по типу «C1», «V3», «P2» а так далее. Чтобы отключить мины и турели, введите в консоль их название, и тогда они станут красными, и внизу будет линия, которая показывает, сколько осталось ждать, пока турель или мина снова включатся, а выключаются они на пять секунд. А вот двери вы можете открывать и закрывать как хотите, без боязни того, что они могут сами открыться или закрыться.
                        <br>
                        <br>
                        Чтобы облегчить работу игроку, который сидит на борту и помогает товарищам через корабельный терминал, он может ввести в консоль «view monitor», и тогда на второй терминал будет также транслироваться радар карты, а чтобы переключаться между игроками, нужно ввести «switch (ник игрока, на которого хотите переключиться)». Таким образом игрок сможет следить за напарниками и взаимодействовать с консолью одновременно.
                    </div>
                    <div class="body_subtitle">>Бестиарий</div>
                    Если вы при нажатии ПКМ отсканировали ту или иную сущность, то с этого момента информация про нее будет в терминале во вкладке бестиарий, и соответственно, чтобы попасть туда, вам нужно ввести «bestiary». В данном разделе будет храниться информация про отсканированных существ и будет указываться уровень их опасности. Однако информация там не будет вам полезной, это больше относится к лору игры. Если вы хотите знать все о монстрах, прочтите статью про <a class="links_in_text" href="/main/mobs">существ</a>.
{% endblock %}
