{% extends 'main.html' %}

{% block body %}
                    <div class="body_title">>Погодные условия</div>
                        <hr>
                        Погодные условия и время суток могут повлиять ни исход игры гораздо сильнее, чем планета. Начнем с того, что в летал компани есть 5 состояний погоды. Состояние погоды на планетах можно отслеживать на <a class="links_in_text" href="/main/terminal">терминале.</a> Погода написана рядом с планетой в скобках, например «Experimentation(rainy)», если же рядом с планетой ничего не написано, значит там ясная погода, можете смело на нее лететь.  Ниже мы разберем плохие типы погоды, чтобы прочитав эту статью, вы были во всеоружии.
                        <div class="body_subtitle">>Проводник:</div>
                        <a class="links_in_text" href="#rainy"><li>Дождь</li></a>
                        <a class="links_in_text" href="#stormy"><li>Шторм</li></a>
                        <a class="links_in_text" href="#flooded"><li>Затопление</li></a>
                        <a class="links_in_text" href="#foggy"><li>Туман</li></a>
                        <a class="links_in_text" href="#eclipsed"><li>Затмение</li></a>
                    <div id="rainy">
                        <div class="body_subtitle">>Дождь</div>
                        <img src="{{ url_for('static', filename='img/rainy.webp') }}" class="image">
                        <br>
                        <br>
                        Дождливая погода может затруднить вам путь до заброшенного комплекса. Очевидно, о том, что на планете дождливая погода можно определить по дождю, однако этот самый дождь не составит вам трудностей, вам помешают зыбучие пески. На планетах с дождливой погодой на земле кроме обычной почвы есть зыбучие пески, они заметны днем по очень темной текстуре относительно обычной почвы.
                        <br>
                        <br>
                        Что же делают эти зыбучие пески? Когда вы попадаете в них, вам надо немедленно вылазить из них как можно быстрее, иначе они затянут вас, и вы погибнете, и ваши товарищи уже не смогут притащить ваше тело на корабль. Так что на планетах с такой погодой сохраняйте стамину, чтобы успеть выжить.
                    </div>
                    <div id="stormy">
                        <div class="body_subtitle">>Шторм</div>
                        <img src="{{ url_for('static', filename='img/stormy.webp') }}" class="image">
                        <br>
                        <br>
                        Штормовая погода напоминает дождь, так как там также идет дождь, однако вместо зыбучих песков данный тип погоды имеет не менее опасные свойства. Во время грозы токопроводящие предметы, лежащие на земле или находящиеся в руках сотрудников, могут приобретать электрический заряд, что с небольшой задержкой приводит к поражению их молнией. Когда это происходит, предмет начинает отчетливо искрить. Настоятельно рекомендуется немедленно бросить все искрящиеся предметы и отойти на некоторое расстояние от них, поскольку удар молнии может привести к летальному исходу для сотрудников.
                    </div>
                    <div id="flooded">
                        <div class="body_subtitle">>Затопление</div>
                        <img src="{{ url_for('static', filename='img/flooded.webp') }}" class="image">
                        <br>
                        <br>
                        Тот же дождь, но намного сильнее и масштабнее. Через некоторый промежуток времени спутник начинает постепенно уходить под воду, что делает невозможным перемещение по его внешней поверхности. Передвижение по затопленной местности значительно замедлит игрока, истощит выносливость и полностью лишит возможности бегать (при этом можно восстановить выносливость, но только стоя на месте).
                        <br>
                        <br>
                        Если игрок будет находиться под водой в течение длительного периода времени, то сотрудник утонет. Затопление зависит от времени суток и будет прогрессировать с течением времени. При данном типе погоды вам нужно собирать лом как можно быстрее, чтобы успеть добраться до корабля, пока это возможно.
                    </div>
                    <div id="foggy">
                        <div class="body_subtitle">>Туман</div>
                        <img src="{{ url_for('static', filename='img/foggy.webp') }}" class="image">
                        <br>
                        <br>
                        При данном виде погоды на улице не видно практически ничего вокруг себя, однако все сущности видят вас отлично. При таком типе погоды нужно хорошо знать планеты, чтоб сориентироваться.
                    </div>
                    <div id="eclipsed">
                        <div class="body_subtitle">>Затмение</div>
                        <img src="{{ url_for('static', filename='img/eclipse.webp') }}" class="image">
                        <br>
                        <br>
                        Если вы прилетите на планету с такой погодой, помните, что будет плохой обзор из-за ветра, а также на планетах с такой погодой все время ночь, поэтому монстры вне комплекса будут ожидать вас с самого начала вашего прилета, а внутри комплекса будет огромная активность.
                    </div>
                        <div class="body_subtitle">>Ночь</div>
                        Как только вы прилетели на планету, вам нужно не медлить, и как можно быстрее идти в комплекс за сбором предметов, так как во время вашего прибывания на планете день будет медленно сменяться ночью. Точное время суток по часам показывается сверху всегда, когда вы находитесь на улице, когда вы в комплексе, вы не можете определить время суток. С наступлением ночи на улице будет становиться опаснее, на улице и в комплексе будет появляться все больше и больше мобов.
                    </div>
{% endblock %}
