{% extends 'main.html' %}

{% block body %}
                    <h1 class="body_title">>Погодные условия</h1>
                        <hr>
                        Погодные условия и время суток могут повлиять ни исход игры гораздо сильнее, чем планета. Начнем с того, что в летал компани есть 5 состояний погоды. Состояние погоды на планетах можно отслеживать на <a class="links_in_text" href="/main/terminal">терминале.</a> Погода написана рядом с планетой в скобках, например «Experimentation(rainy)», если же рядом с планетой ничего не написано, значит там ясная погода, можете смело на нее лететь.  Ниже мы разберем плохие типы погоды, чтобы прочитав эту статью, вы были во всеоружии.
                        <div class="body_subtitle">>Проводник:</div>
                        <ul>
                            <li><a class="links_in_text" href="#rainy">Дождь</a></li>
                            <li><a class="links_in_text" href="#stormy">Шторм</a></li>
                            <li><a class="links_in_text" href="#flooded">Затопление</a></li>
                            <li><a class="links_in_text" href="#foggy">Туман</a></li>
                            <li><a class="links_in_text" href="#eclipsed">Затмение</a></li>
                            <li><a href=""></a></li>
                        </ul>
                    <section id="rainy">
                        <h1 class="body_subtitle">>Дождь</h1>
                        <img src="{{ url_for('static', filename='img/rainy.webp') }}" class="image" alt="">
                        <br>
                        <br>
                        Дождливая погода может затруднить вам путь до заброшенного комплекса. Очевидно, о том, что на планете дождливая погода можно определить по дождю, однако этот самый дождь не составит вам трудностей, вам помешают зыбучие пески. На планетах с дождливой погодой на земле кроме обычной почвы есть зыбучие пески, они заметны днем по очень темной текстуре относительно обычной почвы.
                        <br>
                        <br>
                        Что же делают эти зыбучие пески? Когда вы попадаете в них, вам надо немедленно вылазить из них как можно быстрее, иначе они затянут вас, и вы погибнете, и ваши товарищи уже не смогут притащить ваше тело на корабль. Так что на планетах с такой погодой сохраняйте стамину, чтобы успеть выжить.
                    </section>
                    <section id="stormy">
                        <h1 class="body_subtitle">>Шторм</h1>
                        <img src="{{ url_for('static', filename='img/stormy.webp') }}" class="image" alt="">
                        <br>
                        <br>
                        Штормовая погода напоминает дождь, так как там также идет дождь, однако вместо зыбучих песков данный тип погоды имеет не менее опасные свойства. Во время грозы токопроводящие предметы, лежащие на земле или находящиеся в руках сотрудников, могут приобретать электрический заряд, что с небольшой задержкой приводит к поражению их молнией. Когда это происходит, предмет начинает отчетливо искрить. Настоятельно рекомендуется немедленно бросить все искрящиеся предметы и отойти на некоторое расстояние от них, поскольку удар молнии может привести к летальному исходу для сотрудников.
                    </section>
                    <section id="flooded">
                        <h1 class="body_subtitle">>Затопление</h1>
                        <img src="{{ url_for('static', filename='img/flooded.webp') }}" class="image" alt="">
                        <br>
                        <br>
                        Тот же дождь, но намного сильнее и масштабнее. Через некоторый промежуток времени спутник начинает постепенно уходить под воду, что делает невозможным перемещение по его внешней поверхности. Передвижение по затопленной местности значительно замедлит игрока, истощит выносливость и полностью лишит возможности бегать (при этом можно восстановить выносливость, но только стоя на месте).
                        <br>
                        <br>
                        Если игрок будет находиться под водой в течение длительного периода времени, то сотрудник утонет. Затопление зависит от времени суток и будет прогрессировать с течением времени. При данном типе погоды вам нужно собирать лом как можно быстрее, чтобы успеть добраться до корабля, пока это возможно.
                    </section>
                    <section id="foggy">
                        <h1 class="body_subtitle">>Туман</h1>
                        <img src="{{ url_for('static', filename='img/foggy.webp') }}" class="image" alt="">
                        <br>
                        <br>
                        При данном виде погоды на улице не видно практически ничего вокруг себя, однако все сущности видят вас отлично. При таком типе погоды нужно хорошо знать планеты, чтоб сориентироваться.
                    </section>
                    <section id="eclipsed">
                        <h1 class="body_subtitle">>Затмение</h1>
                        <img src="{{ url_for('static', filename='img/eclipse.webp') }}" class="image" alt="">
                        <br>
                        <br>
                        Если вы прилетите на планету с такой погодой, помните, что будет плохой обзор из-за ветра, а также на планетах с такой погодой все время ночь, поэтому монстры вне комплекса будут ожидать вас с самого начала вашего прилета, а внутри комплекса будет огромная активность.
                    </section>
                    <section id="dust_clouds">
                        <h1 class="body_subtitle">>Пыльные облака</h1>
                        <img src="/static/img/" alt="" class="image">
                        <br>
                        <br>
                        Пыльные облака - особый тип погоды, который влияет только на <a href="/main/complex" class="links_in_text">комплекс.</a> По сути, данная погода это тот же <a class="links_in_text" href="#foggy">туман,</a> так как он точно также ухудшает обзор настолько, что даже фонарь редко где помогает. Даже при включенном свете в комплексе мало что будет видно издалека.
                    </section>
                    <section id="meteor_shower">
                        <h1 class="body_subtitle">>Метеоритный дождь</h1>
                        <img src="/static/img/meteor_shower.webp" alt="" class="image">
                        <br>
                        <br>
                        Данный вид погоды невозможно отследить в <a href="/main/terminal" class="links_in_text">терминале</a> еще на орбите. Он возникает случайным образом, когда вы прилетаете на луну. Причем он может начаться в любое время, хоть утром, хоть вечером. При метеоритном дожде на экране у всех игроков появится уведомление с просьбой найти укрытие. Когда метеориты начнут падать на землю, нужно почаще оглядываться наверх, так как эти камни при падении могут оттолкнуть или даже убить игрока.
                    </section>
                        <h1 class="body_subtitle">>Ночь</h1>
                        Как только вы прилетели на планету, вам нужно не медлить, и как можно быстрее идти в комплекс за сбором предметов, так как во время вашего прибывания на планете день будет медленно сменяться ночью. Точное время суток по часам показывается сверху всегда, когда вы находитесь на улице, а когда вы в комплексе, вы не можете определить время суток. С наступлением ночи на улице будет становиться опаснее, на улице и в комплексе будет появляться все больше и больше мобов.

{% endblock %}